@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300i|Montserrat:400,400i,500,500i');

* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --black: #181818;
  --dark-gray: #282828;
  --white: #F8F8F8;

  /* Sizes */
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;
}

a {
  color: #FCC;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  line-height: 1;
  opacity: 0.6;
}

h1 {
  font-size: 3em;
  margin: 0px;
}

h2 {
  font-size: 2.2em;
  margin: var(--huge) 0px 0px;
}

h3 {
  font-size: 1.6em;
  margin: var(--huge) 0px 0px;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: var(--small);
}

main {
  display: grid;
  grid-template: "inventory content" 100vh / 300px calc(100vw - 300px);
  line-height: 1.4;
}

p {
  margin: 0px;
}

.content {
  grid-area: content;
  margin: auto;
  max-width: 800px;
  overflow-y: scroll;
  padding: var(--large) var(--medium);
}

.content > *:first-child {
  margin-top: 0px;
}

.inventory-panel {
  background-color: var(--dark-gray);
  grid-area: inventory;
  overflow-y: scroll;
  padding: var(--medium);
}
